@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200;300&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

ul>li>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:0 0 10px 2px #3333331A ;
    border: 2px solid white;
}

.fav-meals>li>span{
    font-size: 0.9rem;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75px;
    white-space: nowrap;
}

.fav-meals>li:hover>span{
    white-space:normal;
    overflow: visible;
    
}



body{
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: 0;
}

.fav-meals{
    list-style: none;
}

.fav-meals li{
    max-width: 110px;
    margin: 5px;
    position: relative;
    cursor: pointer;
}

.fav-meals li .clear{
background-color: transparent;
border: none;
cursor: pointer;
opacity: 0;
position: absolute;
top: -0.5rem;
right:-0.5rem;
font-size: 1.2rem;
}

.fav-meals li:hover .clear{
    opacity: 1;
}



.meal-header>img{
    object-fit: cover;
    width:100%;
    height: 14rem;
}

.mobile-container{
    width: 400px;
    background-color: #FFFFFF;
    box-shadow:0 0 10px 2px #3333331A ;
    border-radius: 3px;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}

header input{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding:0.5rem 1rem;
}

header button{
    border: none;
    background-color: transparent;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}


.fav-container{
padding:0.25rem 1rem;
text-align: center;
background-color: #ecc8e8;
}

.fav-meals{
    display: flex;
    padding:0;
    flex-wrap: wrap;
    justify-content: center;
    
}

.meal{
    margin:1.5rem;
border-radius: 3px;
box-shadow:0 0 10px 2px #3333331A ;
overflow: hidden;
cursor: pointer;
}

.meal-header{
position: relative;
}

.meal-header .random{
position: absolute;
top:10px;
background-color: white;
padding: .25rem .5rem ;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
}

.meal-body{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
}

.meal-body h4{
    margin:0;
}

.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: rgb(197,188,188);
    cursor:pointer;
}

.meal-body .fav-btn.active{
    color:rebeccapurple;

}

.popup-container{
    position:fixed ;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
}
.popup-container.hidden{
    opacity: 0;
    pointer-events: none;

}
.popup{
    background: white;
    max-width: 600px;
    overflow:auto;
    border: 5px;
    max-height: 100vh;
   padding:0 2rem;
   position: relative;
}


.meal-info img{
    width:100%;
}

.popup .close-popup{
background: transparent;
border: none;
position: absolute;
right: 1rem;
top: 1rem;
font-size: 1.5rem;
cursor: pointer;
}

.meal-info h1{
    text-align: center;
    
}